extends ../../layout/main/main.pug

block variables
    - const title = 'Чат'
    - 
        const dialogs = [
            {
                'id': 123,
                'title': 'my-chat',
                'avatar': '/123/avatar1.jpg',
                'unread_count': 15,
                'last_message': {
                    'user': {
                        'first_name': 'Petya',
                        'second_name': 'Pupkin',
                        'avatar': '/path/to/avatar.jpg',
                        'email': 'my@email.com',
                        'login': 'userLogin',
                        'phone': '8(911)-222-33-22'
                    },
                    'time': '2020-01-02T14:22:22.000Z',
                    'content': 'this is message content'
                }
            }
        ]

    - 
        const messages = [
            {
                in: true,
                message: 'Hello world!'
            },
            {
                in: false,
                message: 'Hi, how are you?'
            },
            {
                in: true,
                message: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus laoreet turpis, in fermentum ante pharetra ac. Nam in dictum lorem. Nulla facilisi. '
            },
            {
                in: false,
                message: 'Ut bibendum metus at ullamcorper consectetur. Duis eu sem ut urna lacinia hendrerit. Suspendisse ac cursus risus, eget ornare tortor.'
            },
            {
                in: true,
                message: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus laoreet turpis, in fermentum ante pharetra ac. Nam in dictum lorem. Nulla facilisi. '
            },
            {
                in: false,
                message: 'Ut bibendum metus at ullamcorper consectetur. Duis eu sem ut urna lacinia hendrerit. Suspendisse ac cursus risus, eget ornare tortor.'
            },
            {
                in: true,
                message: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus laoreet turpis, in fermentum ante pharetra ac. Nam in dictum lorem. Nulla facilisi. '
            },
            {
                in: false,
                message: 'Ut bibendum metus at ullamcorper consectetur. Duis eu sem ut urna lacinia hendrerit. Suspendisse ac cursus risus, eget ornare tortor.'
            }
        ]


block content
    div.chat
        div.dialogs
            div.find
                svg.find__icon
                    use(xlink:href='../../../static/search.svg#search')
                input.find__input(type='text' placeholder='Поиск...')
            div.list
                each value in dialogs
                    div.list__item.__active
                        div.list__item-left
                            img.list__item-left-avatar(src= ('../../../static/user-circle.svg'))
                            div.list__item-left-text
                                span.list__item-left-text-contact #{value.title}
                                span.list__item-left-text-message #{value.last_message.content}
                        div.list__item-right
                            span.list__item-right-time #{value.last_message.time.split('T')[1].split(':')[0] +':'+ value.last_message.time.split('T')[1].split(':')[1]}
                            span.list__item-right-counter #{value.unread_count}
        div.dialog
            div.messages
                each value in messages
                    div(class=('messages__item' + (value.in ? '' : ' __send')))
                        div(class=('messages__item-block' + (value.in ? '' : ' __send')))
                            span.message__item-text #{value.message}
            div.shipment
                svg.shipment__icon
                    use(xlink:href='../../../static/paperclip.svg#paperclip')
                input.shipment__input(type='text' placeholder='Сообщение')
                svg.shipment__icon
                    use(xlink:href='../../../static/message.svg#message')

block scripts
    script(type="module" src='./index.js')