- let logo = 'МЕДИАТОР'
- let first_name = 'Андрей'
- let second_name = 'Шаров'
- let display_name = 'Андрей Шаров'
- let login = 'drzoiberg2005'
- let email = 'drzoiberg2005@yandex.ru'
- let phone = '89151437599'
- const info = [{name:'Имя', value: `${first_name}`}, {name:'Фамилия', value: `${second_name}`}, {name:'Имя в чате', value: `${display_name}`}, {name:'Логин', value: `${login}`}, {name:'Почта', value: `${email}`}, {name:'Телефон', value: `${phone}`}]

block variables

body
    div.main__page
        include ../../components/sidebar/sidebar.pug
        div
            include ../../components/header/header.pug
            block content

    script(type='module' src='../../layout/main/index.js') 
    block scripts
    

